.cartContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    padding: 5px;
}

.cartContainer:hover{
    background-color: rgb(255, 252, 173);
    border-radius: 10px;
}

.nmberContainer{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgb(255, 50, 23);
    height: 20px;
    width: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.cartNmber{
    font-size: 12px;
    color: white;
}


