.itemListContent{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.itemListElement{
    width: 82%;
}

.asideElement{
    width: 18%;
    min-height: calc(100vh - 70px);
    background-color: rgb(230, 230, 230);
    z-index: 0;
}

