.cartItemsContainer{
    margin: 3rem 4rem;
    display: flex;
    flex-direction: column;
}

.singleItemContainerCart{
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img title quant price btn"
    "img desc quant price btn";
    margin: 1rem 0;
    border-bottom: 1px solid rgb(157, 157, 157);
    align-items: center;
    height: 130px;
}

.cartDescContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartProductImg{
    height: 100px;
}

.lastCartItem{
    border: none;
}

.cartImgContainer{
    grid-area: img;
}

.cartProductNameContainer{
    grid-area: title;
    display: flex;
    justify-content: start;
    height: 100%;
    padding-left: 10%;
}

.cartProductName{
    font-size: 22px;
    font-weight: 500;
}


.cartProductPrice{
    font-weight: 500;
}

.cartProductPriceContainer{
    grid-area: price;
}

.cartProductRemoveBtnContainer{
    grid-area: btn;
}

.cartProductQuantityContainer{
    grid-area: quant;
}

.cartProductDescriptionContainer{
    grid-area: desc;
    display: flex;
    align-items: start;
    justify-content: start;
    height: 100%;
    padding-left: 10%;
}

.removeCartItemButton{
    all: unset;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgb(106, 106, 106);
    background-color: rgb(255, 99, 99);
    color: black;
    font-weight: 500;
}

.removeCartItemButton:hover{
    background-color: rgb(232, 79, 79);
}

.removeCartItemButton:active{
    background-color: rgb(255, 162, 162);
}

@keyframes removedItemAnimation{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.emptyCart{
    margin-top: 1rem;
}

.cartLink{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

